body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ad484869;
}

header {
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.card {
    border: 1px solid #ccc; /* Add a border to the cards */
    border-radius: 10px; /* Add rounded corners for a better look */
    margin: 10px; /* Add spacing between cards */
}

.card-title {
    font-size: 1.15rem; /* Increase the font size of the card titles */
}

.card-text {
    font-size: 0.875rem; /* Adjust the font size of the card text */
}

/* To further control the positioning and spacing of the cards, you can use Bootstrap classes or additional custom CSS. For example: */

/* Center the cards horizontally within their container */
.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Add margin around each card within the card deck */
.card-deck .card {
    margin: 10px;
}
