
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    margin: 0;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: 20px; /* Move the dropdown to the top left corner */
    top: 20px; /* Move the dropdown to the top left corner */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
    text-align: center;
}

/*.section-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 90px;
    max-height: 5px;
}*/

main h2 {
    margin-bottom: 20px;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.card {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    
}

.section-box {
    background-color: #f8f9fa; /* Background color for buttons */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section-box.shaded {
    background-color: #e0e0e0; /* Shaded background color */
}

.section-box:hover {
    background-color: #e0e0e0; /* Background color on hover */
}